body {
  background-color: #fff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.hover {
  color: #fff;
  transition: transform 0.3s ease 0s;
  transition: color 0.6s;
}

.hover:hover {
  color: black;
  background-color: #e25e3e;
}

#main-header {
  background-color: #ffbb5c;
  color: #fff;
}

#navbar {
  background-color: #c63d2f;
  color: #fff;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  font-size: 20px;
  border-block: 0px;
  padding: 30px;
  margin: 0;
}
